<div class="bg-light p-5 rounded shadow-sm mb-4" id="<%= dom_id caretaker %>">
  <h1 class="display-5 fw-bold"><%= caretaker.first_name %> <%= caretaker.last_name %></h1>
  <p class="lead mb-3"><strong>Email:</strong> <%= caretaker.email %></p>
  <hr class="my-4">
  <p><strong>Mobile:</strong> <%= caretaker.mobile %></p>
  <p><strong>Category:</strong> <%= caretaker.category %></p>
  <p><strong>Address:</strong> <%= caretaker.address %></p>
</div>
